<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Delete Restaurant</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
<h1>Delete Restaurant</h1>

<p>Are you sure you wish to delete {{restaurant.name}}?</p>

<form action="{{url_for('deleteRestaurant', restaurant_id=restaurant.id )}}" method="post">
<div><input type="submit" value="Proceed"></div>
</form>

<p><a href= "{{url_for('showRestaurants') }}">View Restaurants</a></p>
</body>
</html>
